<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {# Author of favicon #}
    {#    <div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a#}
    {#            href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a#}
    {#            href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0#}
    {#        BY</a></div>#}
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"></script>
    <title>KingRec Demo App</title>
</head>
<body style="background: black">
<a href="/" style="text-decoration:none;"><h1 style="font-size:3vw; color:red; padding: 30px; padding-left: 40px;">
    KingRec Demo App</h1></a>

<div class="row" style="margin: 0">
    <div style="width: 100%; display: flex; justify-content: space-between;">
        <div class="col-xs-10" style="padding-left: 40px;">
            <h3 style="color:white">Top 5 recommendations for user with id {{ user_id }}</h3>
        </div>
        <div class="col-xs-2" style="padding-right: 40px;">
            <a href="/change" class="btn btn-warning"><i class="fa fa-refresh"></i> Change user</a>
        </div>
    </div>
</div>

<div class="row" style="padding: 30px; margin: 0">
    {% for movie in movies %}
        <div class="card col text-white bg-dark mb-3" style="margin: 10px">
            <img src="./static/images/{{ movie.id }}/1.jpg" class="card-img-top" height="450px" width="350px">
            <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
                <p class="card-text">{{ movie.genres }}</p>
{#                <a href="/like?movie_id={{ movie.id }}" class="btn btn-primary"><i class="fa fa-thumbs-up"></i> Like</a>#}
            </div>
        </div>
    {% endfor %}
</div>
</body>
</html>